/* StatusCard.css */

.metric-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 25px;
    margin: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 252, 252);
}

.metric-card-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.metric-card-value {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.metric-card-metric {
    font-size: 1rem;
    color: #666;
    text-transform: uppercase;
}